Django==1.9.2
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==3.1.1
Pygments==1.6
Sphinx==1.2.3
Werkzeug==0.10.4
appnope==0.1.0
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
decorator==4.0.9
docutils==0.12
gnureadline==6.3.3
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24
mercurial==3.1.2
nester==1.0.0
nose==1.3.4
numpy==1.10.1
numpydoc==0.5
path.py==8.1.2
pbr==0.10.0
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pygame==1.9.2a0
pyzmq==14.4.1
simplegeneric==0.8.1
six==1.8.0
stevedore==1.1.0
tornado==4.0.2
traitlets==4.1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
Django==1.9.2
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==3.1.1
Pygments==1.6
Sphinx==1.2.3
Werkzeug==0.10.4
appnope==0.1.0
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
decorator==4.0.9
docutils==0.12
gnureadline==6.3.3
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24
mercurial==3.1.2
nester==1.0.0
nose==1.3.4
numpy==1.10.1
numpydoc==0.5
path.py==8.1.2
pbr==0.10.0
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pygame==1.9.2a0
pytesseract==0.1.6
pyzmq==14.4.1
simplegeneric==0.8.1
six==1.8.0
stevedore==1.1.0
tornado==4.0.2
traitlets==4.1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
