*{
}
.item {
  background-color: #B5EDFF;
  /*text-align: center;*/
  padding: 5px 5px 5px 5px;
  border-radius: 2px 2px 2px 2px;
  margin: 0px 0px 15px 0px;
  border: .3px solid black;
}
.badge {
  margin-left: 15px !important;
}
.formmy {
  background-color: #B5EDFF;
  border-radius: 2px 2px 125px 2px;
  padding: 15px 25px 20px 15px;
}
.item_form p label input {
  margin-left: 50px !important;
}
#header{
  opacity: .9;
}
#purchased_items{
    border-radius: 10px 10px 10px 10px;
    background-color: #CFCFCF;
}
.purchases{
  padding-left: 15px;
  padding-top: 15px;
}
.purchase_border{
  border-bottom: .2px solid black;
  width: 35%;
  margin-left: 25px;
  margin-right: auto;
}
.purchases div{
  border-radius: 2px 2px 2px 2px;
  margin: 0px 0px 15px 0px;
}
.purchase_btn{
  background-color: #99FFAC;
  border-radius: 2px 2px 2px 2px;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
  padding: 5px 0px 5px 15px;
  text-align: center;
}
.purchase_btn:hover{
  background-color: #C7FFD1;
  border-radius: 2px 2px 2px 2px;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
  padding: 5px 0px 5px .5px;
  text-align: center;
}
#latest_action{
    margin-top: 35px;
}
.undo{
  color: black;
  background-color: #F2F2F2;
  padding: 15px 0px 15px 0px;
  margin-bottom: 10px;
  top: -30px !important;
  border: .1px solid black;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 6px 6px 6px 6px;
}
.undo:hover{
  color: black;
  background-color: #F2F2F2;
  padding: 15px 0px 15px 0px;
  margin-bottom: 10px;
  top: -30px !important;
  opacity: 0.4;
  border: .5px solid black;
  text-align: center;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}
.times_purchased{
  padding: 5px 10px 5px 10px;
  text-align: center;
}