/*
inline block 
and block
*/
*{
}
/******
COMMON
*******/
/*table, tr, td, th {margin:0;border:0;padding:0;spacing:0;}*/
.container{
  background-color: #00A388;
  padding: 20px 20px 20px 20px;
  margin-bottom: 15px; 
  border-radius: 10px 10px 10px 10px;
}
.header_container{
  background-color: #79BD8F;
  border-radius: 5px 5px 5px 5px;
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 150%;
}
.header_text{
  background-color: #BDFFD2;
  padding: 0px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.btn{
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 1px #FF6138;
  font-size: 70%;
}
.header_btn{
  background-color: #BEEB9F;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  margin: 4px 10px 5px 5px;
}
/******
ITEM FORM 
*******/
.item_form_container{

}
.item_form{
  /*padding: 15px 0px 15px 15px;*/
  display: table-row;
}
.item_form_label{
  /*display: table-cell;
  text-align: right;*/
  display: inline-block; 
  width: 20px; 
  text-align: left;
  margin-right: 50px;
}
.item_form_input{
  display: table-cell;
  width: 200px;
  height: auto;
  margin-left: 20px;
  box-shadow: 2px 2px 2px #FF6138;
}
.add_catagory{
  margin-left: 105px;
}
.item_form_catagory{
  margin-left: 10px;
}
.item_form_btn{
  /*background-color: blue;*/
  /*margin-left: 100px;*/
  margin-bottom: 5px;
  width: 150px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 100%;
}
/******
ITEM LIST
*******/
.items_list_container{
}
.item_individual_container{
  background-color: #38FFC0;
  border-radius: 9px 9px 9px 9px;
  display: block;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
}
.item_info{
  display: block;
  background-color: #FF6138;
  width: 90%;
  height: auto;
  border-radius: 9px 9px 9px 9px;
  padding: 15px 15px 15px 15px;
}
.item_options_container{
  display: block;
  background-color: #BD9E79;
  width: 96%;
  height: auto;
  border-radius: 9px 9px 9px 9px;
  padding: 10px 5px 10px 5px;
  margin-top: 5px;
}
.purchase_container{
  background-color: #2892C0;
  display: inline-block;
  height: auto;
  width: 45%;
  padding: 10px 5px 10px 5px;
  margin-left: 8px;
  border-radius: 9px 9px 9px 9px;
}
.purchase_btn{
  background-color: #00A388;
  height: 45px;
  width: 50%;
  margin-left: 5px;
}
.purchase_number_input{
  height: auto;
  width: 15%;
}
.options_btn{
  display: inline-block;
  background-color: #2892C0;
  padding: 10px 30px 10px 20px;
  margin-bottom: : 10px;
  margin-left: 7px;
  border-radius: 9px 9px 9px 9px;
  text-align: center;
  font-size: 100%;
  height: 40px;
  width: 25%;
}
/******
PURCHASES TABLE
*******/
.purchase_table_inner_container{
  background-color: #FF6138;
  border-radius: 9px 9px 9px 9px;
  border-spacing: 0 25px;
  padding: 15px 15px 15px 15px;
}
.border_bottom{
  border-bottom: 5em black solid;
}
/******
PAGINATION
*******/
.pagination_container{
  background-color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 9px 9px 9px 9px;
  display: block;
}
.pagination_firstblock_container{
  display: block;
  width: 100%;
  height: auto;
}
.blank_of_blank{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 9px 9px 9px 9px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.prev_next_container{
  display: inline-block;
  width: 50%;
  height: auto;
  margin-left: 10px;
}
.pagination_btn{
  display: inline-block;
  height: 35px;
  width: 40% !important;
}
.number_per_page_container{
  padding: 15px 15px 0px 5px;
}
.item_per_page{
  height: auto;
  width: 40%;
  padding: 5px 5px 5px 5px;
}
/******
media queries
*******/
@media only screen
and (max-width : 790px) {

}
