*{
}
.item {
  background-color: #B5EDFF;
  /*text-align: center;*/
  padding: 5px 5px 5px 5px;
  border-radius: 2px 2px 2px 2px;
  margin: 0px 0px 15px 0px;
  border: .3px solid black;
}
.badge {
  margin-left: 15px !important;
}
.formmy {
  background-color: #B5EDFF;
  border-radius: 2px 2px 125px 2px;
  padding: 15px 25px 20px 15px;
}
.item_form p label input {
  margin-left: 50px !important;
}
#header{
  opacity: .9;
}
#purchased_items{
    border-radius: 10px 10px 10px 10px;
    background-color: #CFCFCF;
}
.purchases{
  padding-left: 15px;
  padding-top: 15px;
}
.purchase_border{
  border-bottom: .2px solid black;
  width: 35%;
  margin-left: 25px;
  margin-right: auto;
}
.purchases div{
  border-radius: 2px 2px 2px 2px;
  margin: 0px 0px 15px 0px;
}
.purchase_btn{
  background-color: #99FFAC;
  border-radius: 2px 2px 2px 2px;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
  padding: 5px 0px 5px 15px;
  text-align: center;
  height: auto;
  width: 120px;
}
.purchase_btn:hover{
  background-color: #C7FFD1;
  border-radius: 2px 2px 2px 2px;
  /*margin: 0px 5px 5px 5px;*/
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
  /*padding: 5px 0px 5px .5px;*/
  text-align: center;
}
#latest_action{
    margin-top: 35px;
}
.undo{
  color: black;
  background-color: #F2F2F2;
  padding: 15px 0px 15px 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  top: -30px !important;
  border: .1px solid black;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 6px 6px 6px 6px;
  height: 70px;
  width: auto
}
.undo:hover{
  color: black;
  background-color: #F2F2F2;
  padding: 15px 0px 15px 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  top: -30px !important;
  opacity: 0.4;
  border: .5px solid black;
  text-align: center;
  cursor: pointer;
  border-radius: 6px 6px 6px 6px;
}
.times_purchased{
  padding: 5px 0px 5px 20px;
  text-align: center;
}
.options{
  margin-left: 2px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px #888888;
  font-size: 80%;
}
.options:hover{
  margin-left: 2px;
  padding: 5px 5px 5px 5px;
  background-color: grey;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 2px 2px 2px #888888;
  cursor: pointer;
}
.options div{
  padding: 5px 5px 5px 5px;
  border-radius: 8px 8px 8px 8px;
}
.options div:hover{
  background-color: white;
}
.line{
    border-left: .2 solid black;
}
.purchase_filters{
    margin: 0px 1px 5px 1px;
}
.total{
    padding: 5px 5px 5px 5px;
    font-size: 120%;
    margin-left: 10px;
}
@media only screen
and (max-width : 790px) {
    .item{
        /*height: 200%;*/
        /*width: auto;*/
        padding-bottom: 70px;
        font-size: 125%;
        position: relative;
    }
    .item span{
        display: none;
    }
    .items{
        margin-top: 15px;
    }
    .purchase_btn{
      height: auto;
      width: 125px;
      font-size: 110%;
    }
    .purchase_btn:hover{
        background-color: #C7FFD1;
        border-radius: 2px 2px 2px 2px;
        /*margin: 0px 5px 5px 5px;*/
        cursor: pointer;
        box-shadow: 2px 2px 2px #888888;
        /*padding: 5px 0px 5px 15px;*/
        text-align: center;
    }
    .undo{
        height: inherit;
    }
    .options{
        height: auto;
        width: 125px;
        position: relative;
        z-index: 100;
    }
    .options:hover{
        height: auto;
        width: 125px;
        position: relative;
        z-index: 5;
    }
}
