/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .purchases{
        background-color: black !important;
        color: white;
    }
}
/* mine */
@media only screen
and (max-width : 990px) {
    .items{
        margin-top: 15px;
    }
    .purchases_header {
        background-color: black;
        width: 30%;
        height: auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}
