:root{
    --nav-btn-main-color: #C77717;
    --nav-btn-hover-color: #A8FBFF;
    --nav-btn-height: 30px;

    --nav-left-width: 65.5%;
    --nav-right-width: 29%;
}
.nav{
    text-align: center;
    cursor: pointer;
    line-height: 180%;
    height: var(--nav-btn-height);
}
.nav:hover{
    background-color: var(--nav-btn-hover-color);
}
.nav_container{
    display: block;
    background-color: var(--nav-btn-main-color);
    height: var(--nav-btn-height);
}
.nav_left{
    display: inline-block;
    width: var(--nav-left-width);
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_right{
    position: absolute;
    top: .22em;
    right: .6%;
    display: inline-block;
    background-color: var(--nav-btn-main-color);
    width: var(--nav-right-width);
    text-align: center;
    cursor: pointer;
}
.nav_dropdown_item{
    display: none;
    box-shadow: 2px 2px 2px #FF6138;
}
.nav_dropdown_container{
    border-left: 1px solid black;
}
.nav_dropdown_container_text{
    width: 29%;
}
.nav_dropdown_item_one{
    position: absolute;
    top: 34px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}
.nav_dropdown_item_two{
    position: absolute;
    top: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.nav_dropdown_item_dropdown_clicker{
    width: 100%;
}
