:root{
    --nav-btn-main-color: #C77717;
    --nav-btn-hover-color: #A8FBFF;
    --nav-btn-height: 35px;
}
/*body{
    height: auto;
    width: 100%;
}*/
.nav{
    text-align: center;
    cursor: pointer;
    line-height: 200%;
}
.nav:hover{
    background-color: var(--nav-btn-hover-color);
}
.nav_container{
    display: block;
    background-color: var(--nav-btn-main-color);
    height: var(--nav-btn-height);
    /*width: 100%;*/
}
.nav_left{
    display: inline-block;
    height: var(--nav-btn-height);
    width: 65.5%
}
.nav_right{
    display: inline-block;
    background-color: var(--nav-btn-main-color);
    height: var(--nav-btn-height);
    width: 29%;
    text-align: center;
    cursor: pointer;
    line-height: 200%;
}
.nav_dropdown_item{
    display: none;
    box-shadow: 2px 2px 2px #FF6138;
}
.nav_dropdown_container{
    border-left: 1px solid black;
}
.nav_dropdown_container_text{
    width: 29%;
}
.nav_dropdown_item_one{
    position: absolute;
    top: 43px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.nav_dropdown_item_two{
    position: absolute;
    top: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav_dropdown_item_dropdown_clicker{
    width: 100%;
}
