{% extends "receipt/base.html" %}
{% block title %}actions{% endblock %}
{% block content %}
{% csrf_token %}
<div class="actions">
    {% for a in actions %}
    <div class="action">{{ a.title }}</div>
    {% endfor %}
</div>

<script type="text/javascript">
$(document).ready(function(){
    var csrf = $("input[name='csrfmiddlewaretoken']").value;
    setInterval(function(){
        $.ajax({
            type: "GET",
            url: "/api/actions/",
            success: function(data){
                console.log("success");
                console.log(data);
                var actions_div = $(".actions");
                actions_markup = "";
                actions_markup += "<div class='action'>"
                actions_markup += data.latest_action_object_name
                actions_markup += "</div>"
                actions_div.html(actions_markup);
            },
            failur: function(){
                console.log("fail blog");
            },
        });
        // create_action({"title": "Foo", "object_name": "Item", "object_id": 3});
    }, 5000);
    var create_action = function(data){
        data.csrfmiddlewaretoken = csrf;
        $.ajax({
            type: "POST",
            url: "/api/actions/",
            data: data,
            success: function(){
                console.log("success");
            },
        })
    }
});
</script>
{% endblock %}
