{% extends "receipt/base.html" %}
{% load static %}
{% block title %}Dollars{% endblock %}
{% block content %}
<div class="row">
    <h3 class="col-xs-6 page-header" id="header">Guru Development	&#174;</h3>
    <div id="latest_action" class="undo col-md-2 col-xs-2 pull-right" onclick="undo(none, none)">Loading Last Action...</div>
</div>
{{ form.errors }}
<div class="row">
  <div class="col-md-6 item_form_container">
    <h4 id="item_form_header">Add New Item</h4>
    <form class="formmy item_form" action="{% url 'items' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <p><label for="name">Name: </label><input type="text" name="name" max_length="250"/ class="pull-right"></p>
      <p><label for="company_came_from">Company: </label><input type="text" name="company_came_from" max_length="50" class="pull-right"></p>
      <p><label for="catagory">Catagory: </label>
         <select name="catagory" class="pull-right catagory">
           {% for catagory in catagories %}
            <option name="catagory" value="{{ catagory.id }}">{{ catagory.name }}</option>
           {% endfor %}
         </select>
      </p>
      <p><label for="price">Price: </label><input type="number" name="price" step="0.01" class="pull-right"></p>
      <input type="button" value="Add" class="btn btn-default" onclick="send_new_item(this.form, false)">
      <input type="button" name="name" value="Add & Purchase" class="btn btn-default" onclick="send_new_item(this.form, true)">
    </form>
  </div>
  <div class="items col-md-6">
    {% for i in items %}
    <form id="{{ i.id }}" class="item col-sm-12 col-lg-12" action="{% url 'api_items' %}" method="POST">
        {% csrf_token %}
        <div class="pull-left" id="item_{{i.id}}">{{ i.name }}</div>
        <div class="options pull-right" onclick="show_options(this, {{i.id}})"><div class='fa fa-arrow-left'></div></div>
        <div class='purchase_btn pull-right' onclick='purchase_item({{ i.id }})'>Purchase</div>
        <span class="times_purchased pull-right">$ {{ i.price }}</span>
        <span class="times_purchased pull-right"># of purchases: {{ i.number_of_times_purchased }}</span>
    </form>
    {% endfor %}
  </div>
</div>
<span id="purchases_header"><h3>Purchases Made: All Time ({{purchased_length}})</h3></span>
<input type="button" name="name" value="Update" onclick="update_purchase_tbl()" class="purchase_filters">
<span>Filters:</span>
{% for catagory in catagories %}
<input type="button" name="name" value="{{ catagory.name }}" onclick="filter_purchase_tbl_by_catagory('{{ catagory.name }}')" class="purchase_filters">
{% endfor %}
<div id="purchased_items">
    {% for purchase in purchased_items %}
    <div class="row purchases">
        <div class="col-md-3 col-lg-3">{{ purchase.item_purchased }}</div>
        <div class="col-md-3 col-lg-3">{{ purchase.date_display }}</div>
        <div class="col-md-3 col-lg-3">{{ purchase.amount_payed }}</div>
    </div>
    <div class="purchase_border"></div>
    {% endfor %}
</div>
<h3>Total</h3>
<span id="total" class="total">Calculating Total...</span>
<script type="text/javascript" src="{% static 'js/dyliams.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  var csrf = "{% csrf_token %}";
  $.cookie("csrfmiddlewaretoken", csrf);
});
</script>
{% endblock %}
