{% extends 'base.html' %}
{% block body %}
    <h1 class="page-header" id="header">
        Guru Development	&#174;
    </h1>

    <h2 id="latest_action" class="undo" onclick="undo(none, none)">
        Loading Last Action...
    </h2>

    <div class="item_form_container">

    </div>

    <div class="items">

    </div>

    <h4 id="purchases_header"><span>Purchases Made: All Time ({{purchased_length}})</span></h4>
    <input type="button" name="name" value="Refresh" onclick="update_purchase_tbl()" class="purchase_filters">
    <span>Filters:</span>
    {% for catagory in set_catagories %}
    <input type="button" name="name" value="{{ catagory.name }}" onclick="filter_purchase_tbl_by_catagory('{{ catagory.name }}')" class="purchase_filters">
    {% endfor %}
    <div id="purchased_items">
    </div>
{% endblock body %}

